# ====== DB Config ======
POSTGRES_USER=admin
POSTGRES_PASSWORD=una_contraseña_muy_segura
POSTGRES_DB=sustainable_island

# ====== Backend Config ======

JWT_SECRET=tu_secreto_super_seguro_generado_aqui
