PORT=3000

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sustainable_island?schema=public"

PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=sustainable_island

POSTGRES_DB=sustainable_island

# JWT Config
JWT_SECRET=your-super-secret-key-change-this-in-production
JWT_EXPIRES_IN=1d